/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --bg-color: #000028;
  --hover-color:  1px solid rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --section-title-color: var(--title-shadow);
  --section-subtitle-color: var(--bg-color);
  --header-text-color: var(--bg-color);
  --decor-color: var(--title-shadow);
  --link-shadow: var(--title-shadow);
  --rec-color: var(--title-shadow);
  --corners-color: var(--title-shadow);
}
