/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow: #ff8dcb;
    --bg-color: #fff1f7;
    --header-title-shadow: #ff0070;
    --hover-color:  1px solid rgba(50, 49, 45, 0.4);
    --bg-image: url(../images/cover-image-light.png);
    --section-title-color: var(--text-color);
    --section-subtitle-color: var(--text-color);
    --decor-color: var(--text-color);
    --link-shadow: var(--text-color);
    --rec-color: transparent;
    --corners-color: var(--text-color);
    --header-text-color: var(--text-color);
  }
  


